@tailwind base;
@tailwind components;
@tailwind utilities;

.form{
  background-color:beige;
  width : 120px;
}

/* .login{
  background-image: url('/bg_img.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 350px;
}

.content{
  border: 3px solid black;
  font-family: 'biome';
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
}


.p{
  border: 2px solid black;
}

input[type="text"] {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #131313;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
}  */

